/node_modules/
/public/build/
/public
.routify/

.env
.DS_Store

.firefoxtmp

resources/android/icon
resources/android/splash
resources/ios/icon
resources/ios/splash
resources/windows/icon
resources/windows/splash