.semibold {
    font-weight: normal;
    text-shadow: 0 0 0 black;
}

body {
    transition: background-image 0.2s ease-in-out;
    background-image: var(--multiempo-background-image-url) !important;
    background-position-y: bottom !important;
}

ion-modal,
ion-popover,
ion-alert,
ion-picker {
    --ion-background-color: white;
}

* {
    --ion-background-color: rgba(0,0,0,0);
}